<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon item-start name="call-outline"></ion-icon>
      <h3 class="left-margin-20px">Contact Information</h3>
    </ion-item>

    <ion-item>
      <ion-icon item-start name="cart-outline"></ion-icon>
      <h3 class="left-margin-20px">Register my shop</h3>
    </ion-item>

    <ion-item>
      <ion-icon item-start name="medical-outline"></ion-icon>
      <h3 class="left-margin-20px">Healthcare Volunteers</h3>
    </ion-item>
  </ion-list>
</ion-content>