<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Hospitals near me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-searchbar placeholder="Search hospital or tests"></ion-searchbar>
  </ion-grid>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/logo-apollo.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Apollo Hospital</h3>
        <p>
          <ion-icon name="location-outline"></ion-icon> 550m away
        </p>
      </ion-label>
    </ion-item>

    <img src="../../assets/apollo_hospital.jpg" alt="ion">
    <ion-card-header>
      <ion-card-title>Apollo Hospitals</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Online test result available <strong></strong></p>
      <p>Opened 24*7 <strong>On demand all test available</strong></p>
    </ion-card-content>

    <ion-footer>
      <ion-grid>
        <ion-row>
          <ion-col class="custom-text-center call-btn">
            <ion-icon class="action-btn" name="call"></ion-icon>
          </ion-col>

          <ion-col class="custom-text-center info-btn">
            <ion-icon class="action-btn" name="information-circle"></ion-icon>
          </ion-col>

          <ion-col class="custom-text-center order-btn">
            <ion-icon class="action-btn" name="cart"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ion-card>


  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/fortis_logo.png">
      </ion-avatar>
      <ion-label>
        <h3>Fortis Hospital</h3>
        <p>
          <ion-icon name="location-outline"></ion-icon> 850m away
        </p>
      </ion-label>
    </ion-item>

    <img src="../../assets/fortis.jpg" alt="ion">
    <ion-card-header>
      <ion-card-title>Fortis Hospitals</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Online test result available <strong></strong></p>
      <p>Opened 24*7 <strong>On demand all test available</strong></p>
    </ion-card-content>

    <ion-footer>
      <ion-grid>
        <ion-row>
          <ion-col class="custom-text-center call-btn">
            <ion-icon class="action-btn" name="call"></ion-icon>
          </ion-col>

          <ion-col class="custom-text-center info-btn">
            <ion-icon class="action-btn" name="information-circle"></ion-icon>
          </ion-col>

          <ion-col class="custom-text-center order-btn">
            <ion-icon class="action-btn" name="cart"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ion-card>
</ion-content>
